<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.api.member.repository.MemberRepository">
    <select id="findUserByMemberEntity" resultType="com.project.api.member.model.entity.MemberEntity">
        SELECT member_id, uuid,
        uid, app_platform, social_platform, auth,
        language_code, expiration_date, use_yn,
        quit_reason, reg_date
        FROM tb_member
        <where>
            <if test="memberId != null">
                AND member_id = #{memberId}
            </if>
            <if test="uuid != null">
                AND uuid = #{uuid}
            </if>
            <if test="uid != null">
                AND uid = #{uid}
            </if>
            <if test="useYn != null">
                AND use_yn = #{useYn}
            </if>
        </where>
    </select>
</mapper>